<!DOCTYPE html>
<html ng-app="produtosAngeloni">
    <head>
        <title>Produtos Angeloni</title>
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
        <script src="lib/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
		<script src="js/services/produtosAPI.js"></script>
        <script src="js/controllers/produtosAngeloni.js"></script>
        <script src="js/directives/priceFormatDirective.js"></script>
    </head>
    <body ng-controller="produtosAngeloniController">
        <header>
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">Pedidos</span>
            </nav>
        </header>
        <div class="container">
            <form name="produtoForm">
                <div class="form-group">
                    <label for="nome">Produto</label>
                    <select class="form-control" id="nome" ng-model="cadProduto.nome">
                        <option value="">Selecione o produto</option>
                        <option value="Pen-drive">Pen-drive</option>
                        <option value="Notebook">Notebook</option>
                        <option value="Calculadora">Calculadora</option>
                        <option value="Mouse">Mouse</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantidade">Quantidade</label>
                    <input type="text" class="form-control" id="quantidade" placeholder="Quantidade" ng-model="cadProduto.quantidade">
                </div>
                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input type="text" class="form-control" id="preco" placeholder="Preço" ng-model="cadProduto.preco" value="123" price-format>
                </div>
                <button class="btn btn-primary" ng-click="adicionarProduto(cadProduto)">Enviar</button>
            </form>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Data</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in produtos" ng-if="x.nome">
                        <td>1</td>
                        <th>{{x.nome}}</th>
                        <td>{{x.data | date:'dd/MM/yyyy'}}</td>
                        <td>{{x.quantidade}}</td>
                        <td>{{x.preco}}</td>
                        <td>Em andamento</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="js/format.js"></script>
    </body>
</html>

